@charset "utf-8";
/* CSS Document */

@import url(layout.css);
/*====布局=====*/
#tp-toolbar{position:absolute;height:35px;width:100%;background:#222;z-index:2;min-width:850px;}
#tp-mainbar{position:absolute;top:35px;left:0;right:0;bottom:0;z-index:1;}

/*====切换=====*/
.switch-tips{position:absolute;right:-20px;top:-45px;}
.switch-dialog{position:absolute;top:-10px;right:-280px;width:240px;border:1px #ffcc7f solid;background:#ffffe6;padding:10px;font-size:12px;}
.switch-dialog-arrow{position:absolute;top:10px;left:-13px;width:13px;height:20px;background:url(images/template-main.png) no-repeat -575px -77px;}
.switch-dialog-icon{float:left;padding:10px;width:18px;height:18px;background:url(images/template-main.png) no-repeat -570px -104px;}
.switch-dialog h2{font-weight:bold;}

/*====顶部功能块=====*/
.toobar-logo{float:left;background:url(images/template-main.png) no-repeat -565px 0;width:130px;height:35px;}
.toobar-logo a{float:left;width:130px;height:35px;}
.toolbar-menu{float:left;font-size:14px;height:35px;line-height:35px;margin:0 15px;}
.toolbar-menu > li{float:left;background:url(images/template-main.png) no-repeat right top;}
.toolbar-menu .tablist{float:left;color:#cfcfcf;margin:0 10px;background:url(images/template-main.png) no-repeat right 0;}
.toolbar-menu .tablist > li{float:left;color:#cfcfcf;padding:0 15px;background:url(images/template-main.png) no-repeat -798px 0 #222; position:relative;}
.toolbar-menu li.tablist-hover{margin:0;padding:0;color:#333;}
.toolbar-menu .tablist .icon-arrow{display:inline-block;background:url(images/template-main.png) no-repeat -774px -95px;width:17px;height:10px;}
.toolbar-menu .tablist-hover .icon-arrow{background:url(images/template-main.png) no-repeat -774px -60px;}

.toolbar-menu .tablist .tab-con{float:left;cursor:pointer;padding:0 2px;}
.toolbar-menu li.tablist-hover .tab-con{border-left:2px #000 solid;border-right:2px #000 solid;border-top:2px #000 solid;padding:0 15px;height:33px;background:#fff;}
.toolbar-menu .tablist .drop-bar{display:none;position:absolute;top:35px;left:0;background:#fff;border-left:2px #000 solid;border-right:2px #000 solid;border-bottom:2px #000 solid;background:#fff;z-index:999;box-shadow: 3px 3px 1px rgba(200, 200, 200, 0.3);}
.toolbar-menu .tablist .drop-bar .btn-select{color:#fff;background:#3792d6;padding:2px 10px;+padding:2px 5px;border:0;margin-left:5px;}
.toolbar-menu .tablist .drop-bar .btn-select:hover{background:#4ba3e5;}
.toolbar-menu .tablist-hover .drop-bar{display:block;min-width:290px;padding:5px 10px;font-size:12px;clear:both;}
.toolbar-operating{float:right;}
.toolbar-operating ul,.toolbar-operating li{float:left;height:35px;line-height:35px;}
.toolbar-operating ul.operating{margin-right:10px;}
.toolbar-operating ul.operating li{margin:0 7px;}
.toolbar-operating ul.operating li a{color:#fff;}
.toolbar-operating ul.operating li a:hover{color:#ccc;}

/*=====按钮=====*/
.btn-toolbar{clear:both;padding:15px;bottom:0;left:0;right:0;position:absolute;}
.btn-toolbar button{border:0;}
.btn-toolbar .btn-save,.btn-toolbar .btn-save:hover{font-size:14px;color:#fff;background:url(images/template-main.png) no-repeat;width:136px;height:34px;}
.btn-toolbar .btn-save{background-position:0 -160px;}
.btn-toolbar .btn-save:hover{background-position:-136px -160px;}
.btn-operating li{margin:0 5px;}
.btn-operating button{font-size:14px;border:0;padding:0 15px;+padding:0px;line-height:24px;}
.btn-operating button.btn-save,.btn-operating .btn-switch,.btn-operating .btn-submit{color:#fff;background:#3792d6;}
.btn-operating button.btn-save:hover,.btn-operating .btn-switch:hover,.btn-operating .btn-submit:hover{background:#4ba3e5;}
.btn-operating button.btn-quit{color:#111;background:#cfcfcf;}
.btn-operating button.btn-quit:hover{background:#f5f5f5;}


/*==========对话框==========*/
.dialog-layout{ }
/*选择布局*/
.layout-ui{margin:5px 0;}
.layout-ui li{background:url(images/template-main.png) no-repeat #fff;float:left;margin:10px 5px;position:relative;}
.layout-ui li p{position:absolute;bottom:0;left:0;right:0;height:22px;line-height:22px;text-align:center;font-weight:bold;}
.layout-ui li a{display:block;width:112px;height:77px;border:1px #ddd solid;padding:1px;color:#333;}
.layout-ui li a:hover{float:left;width:112px;height:77px;border:2px #4682d1 solid;padding:0;color:#3792d6;}
li.layout-sty-1{background-position:0 0;}
li.layout-sty-2{background-position:-112px 0;}
li.layout-sty-3{background-position:-224px 0;}
li.layout-sty-4{background-position:-336px 0;}
li.layout-sty-5{background-position:-448px 0;}
li.layout-sty-6{background-position:0 -77px;}
li.layout-sty-7{background-position:-112px -75px;}
li.layout-sty-8{background-position:-224px -77px;}
li.layout-sty-9{background-position:-336px -77px;}
li.layout-sty-10{background-position:-448px -77px;}

/*选择模块*/
.add-module{float:left;top:55px;left:25px;right:25px;bottom:20px;position:absolute;}
.add-module-l,.add-module-r{float:left;position:absolute;}
.add-module-l{width:15%;z-index:2;}
.add-module-r{width:85%;z-index:1;top:0;left:15%;right:0;bottom:0;padding-left:1px;}
.module-menu{float:left;width:100%;}
.module-menu li{width:100%;height:30px;line-height:30px;text-align:center;margin-right:-4px;}
.module-menu li a:hover{background:#e5e5e5;border:0;font-weight:bold;}
.module-menu li a,.module-menu li a:hover{float:left;height:30px;width:100%;color:#333;}
.module-menu .current{border-top:1px #ddd solid;border-bottom:1px #ddd solid;border-left:1px #ddd solid;background:url(images/template-main.png) no-repeat -577px -162px #fff;color:#333;}
.module-menu .current a:hover{background:url(images/template-main.png) no-repeat -577px -162px #fff;border:0;}
.module-body{position:absolute;top:0;left:0;right:0;bottom:0;border:1px #ddd solid;background:#fff;padding:10px 0 10px 15px;overflow:auto;}
.module-body h1{font-size:14px;font-weight:bold;}
.module-body .module-list{margin:15px 0;}
.module-body .module-list li{float:left;margin:0 15px 15px 0;border:1px #ddd solid;padding:1px;width:185px;height:160px;background:#fff;}
.module-body .module-list li:hover{border:2px #4682d1 solid;padding:0;background:#f6faff;}
.module-body .module-list li h3{font-size:14px;font-weight:100;margin-left:7px;}
.module-body .module-list li > p{margin:7px;}
.module-body .module-list li h3 a,.module-body .module-list li h3:hover{color:#333;}
.module-body .module-list li > p a,.module-body .module-list li > p:hover{color:#555;}

/*==========模块当前编辑栏==========*/
.bar,.bar-frame,.bar-acts{position:absolute;}
.bar{z-index:999;top:0;left:0;right:0;bottom:0;cursor:move;}/*主栏目*/
.bar-frame{border:2px #f00 dashed;background:#000;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;z-index:4;top:0;left:0;right:0;bottom:0;}/*栏目框架*/
.bar-acts{top:2px;right:2px;z-index:5;}/*栏目行为操作区*/
.bar-acts > ul{padding-left:5px;background:#000;float:left;}
.bar-acts > ul > li{float:left;}
.bar-acts ul.sub-menu{position:absolute;top:25px;left:0;background:#222;}
.bar-acts ul.sub-menu li{height:25px;line-height:25px;clear:both;width:93px;}
.bar-acts .icon,.bar-acts .icon:hover{background:url(images/template-main.png) no-repeat #000;float:left;width:25px;height:25px;}
.bar-acts .add{background-position:-575px -218px;}/*添加*/
.bar-acts .moveup{background-position:-600px -218px;}/*上移*/
.bar-acts .movedown{background-position:-625px -218px;}/*下移*/
.bar-acts .edit{background-position:-650px -218px;}/*编辑*/
.bar-acts .del{background-position:-675px -218px;}/*删除*/
.bar-acts .add:hover{background-position:-575px -249px;}
.bar-acts .moveup:hover{background-position:-600px -249px;}
.bar-acts .movedown:hover{background-position:-625px -249px;}
.bar-acts .edit:hover{background-position:-650px -249px;}
.bar-acts .del:hover{background-position:-675px -249px;}
.bar-acts .addup,.bar-acts .adddown,.bar-acts .addup:hover,.bar-acts .adddown:hover{background:url(images/template-main.png) no-repeat;float:left;height:25px;color:#fff;}
.bar-acts .addup{background-position:-571px -275px;}/*添加上方*/
.bar-acts .adddown{background-position:-571px -300px;}/*添加下方*/
.bar-acts .addup:hover{background-position:-571px -325px;}
.bar-acts .adddown:hover{background-position:-571px -350px;}

/*=====系统模块不可编辑提示=====*/
.system-module{background:url("../../images/system-module.gif") no-repeat scroll 50% 50% #E6E6E6;filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1;}

/*=====icon=====*/
.icon-del,.icon-pic{float:left;width:20px;height:20px;}
.icon-del,.icon-pic{background:url("../../images/news-icon.png") no-repeat 0 0;padding-top:1px;}
.icon-del{background-position:left -119px;}
.icon-pic{background-position:left -150px;}






