@charset "utf-8";
/* CSS Document */

body{color:#666;background:url(images/left-bg.png) repeat-y;}
a{text-decoration:none;outline:none;-moz-outline:none;}
a:hover{text-decoration:none;}
button{cursor:pointer;}
ul,
li{padding:0;margin:0;}

/*----------TOP----------*/
.MCM-T{position:relative;width:100%;height:40px;min-width:900px;border-bottom:1px solid #171717;background:#292a28;z-index:2;
       -webkit-box-shadow:0 2px 2px rgba(0,0,0,.3);
            -moz-box-shadow:0 2px 2px rgba(0,0,0,.3);
                   -o-box-shadow:0 2px 2px rgba(0,0,0,.3);
                        box-shadow:0 2px 2px rgba(0,0,0,.3);}
.MCM-T .l-logo{float: left;margin:7px 0 0 20px;background-color: #292a28;}
.MCM-T .m-content{position:absolute;left:175px;right:0px;top:0;height:40px;}
.MCM-T .m-content .shopselect{position:relative;height:41px;line-height:40px;width:180px;z-index:2;}
.MCM-T .m-content .shopselect-a{float:left;width:140px;height:20px;line-height:20px;color:#fff;font-size:14px;font-weight:bold;overflow:hidden;padding:10px;}
.MCM-T .m-content .shopselect-a .name{float:left;width:100px;white-space:nowrap;text-overflow:ellipsis;text-align:left;font-size:14px;overflow:hidden;}
.MCM-T .m-content .shopselect-a .arrow{float:right;background:url("../images/mcm-icon-2013.png") no-repeat;width:9px;height:16px;}
.MCM-T .m-content .shopselect-a .arrow{background-position:-146px -232px;}
.MCM-T .m-content .shopselect-list{position:absolute;display:none;padding:5px 0;left:0;top:41px;overflow:hidden;background:#fff;width:180px;border:1px solid #ACACAC;border:1px #ACACAC solid;z-index:5;
                                   -webkit-box-shadow:4px 2px 1px rgba(52,62,62,.2);
                                        -moz-box-shadow:4px 2px 1px rgba(52,62,62,.2);
                                                box-shadow:4px 2px 1px rgba(52,62,62,.2);}
.MCM-T .m-content .shopselect-list-li{clear:both;}
.MCM-T .m-content .shopselect-list-a{display:block;height:20px;line-height:20px;color:#333;padding:5px 10px;}
.MCM-T .m-content .shopselect-list-a span{float:left;width:130px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-align:left;}
.MCM-T .m-content .shopselect-list-a:hover{background:#eee;}
.MCM-T .m-content .shopselect-list-li.current .shopselect-list-a:hover{background:#fff;}
.MCM-T .m-content .shopselect:hover .shopselect-list{display:block;}
.MCM-T .m-content .shopselect:hover .arrow{background-position:-166px -234px;}
.MCM-T .m-content .nav {position:absolute;top:0;left:180px;min-width:500px;background:#292a28;font-size:16px;font-weight:bold;z-index:2;}
.MCM-T .m-content .nav > ul{float:left;}
.MCM-T .m-content .nav > ul > li{float:left;text-align:center;}
.MCM-T .m-content .nav > ul > li + li{border-left:0px solid #1966b3;}
.MCM-T .m-content .nav > ul > li > a{padding:0 25px;height:40px;line-height:40px;color:#fff;float:left;}
.MCM-T .m-content .nav > ul > li > a:hover{background:#454545;color:#fff;}
.MCM-T .m-content .nav .current{background:#676767;color:#fff;height:40px;float:left;border-left:1px solid #7e7e7e;border-right:1px solid #7e7e7e;}
.MCM-T .m-content .nav .current a:hover{background:#676767;}
.MCM-T .r-content{float:left;position:absolute;top:0;right:0;z-index:2;}
.MCM-T .r-content .member{position:relative;float:right;margin-right: 5px;height: 40px;color: white;font-size: 12px;font-weight: normal;*width:150px;}
.MCM-T .r-content .member-a{height:41px;float:left;padding:0 10px;color:#fff;}
.MCM-T .r-content .member-a:hover{background:#454545;}
.MCM-T .r-content .member-a .icon{margin:10px 10px 0 0;display:block;float:left;width:16px;height:16px;background:url(images/mcm-icon-2013.png) no-repeat -87px -420px;}
.MCM-T .r-content .member-a .arrow{margin-top:10px;background:url("../images/mcm-icon-2013.png") no-repeat -146px -232px;float:right;width:7px;height:16px;margin-left:10px;}
.MCM-T .r-content .member-a .text{margin-top:10px;line-height:16px;float:left;}
.MCM-T .r-content .member-list{display:none;padding:5px 0;position:absolute;left:0;top:41px;right:0;overflow:hidden;background:#fff;border:1px solid #ACACAC;border:1px #ACACAC solid;
                               -webkit-box-shadow:4px 2px 1px rgba(52,62,62,.2);
                                    -moz-box-shadow:4px 2px 1px rgba(52,62,62,.2);
                                            box-shadow:4px 2px 1px rgba(52,62,62,.2);}
.MCM-T .r-content .member-list-a{color:#333333;display:block;height:30px;line-height:30px;}
.MCM-T .r-content .member-list-a:hover{background:#eee;}
.MCM-T .r-content .member-list-a .icon-exit{background:url(images/mcm-icon-2013.png) no-repeat -117px -419px;width:16px;height:16px;float:left;margin:5px 10px;}
.MCM-T .r-content .member-list-a .text-exit{margin-top:5px;}
.MCM-T .r-content .member:hover .member-list{display:block;}
.MCM-T .r-content .contactus{position:relative;float:right;height:40px;line-height:40px;}
.MCM-T .r-content .contactus .icon-a{height:41px;line-height:40px;float:left;padding:0 20px;background:#434343;border-left:1px solid #4e4e4e;}
.MCM-T .r-content .contactus .icon-a:hover{background:#606060;}
.MCM-T .r-content .contactus .icon-a .talk{display:block;width:23px;height:20px;background:url(images/mcm-icon-2013.png) no-repeat -173px -417px;margin-top:10px;}
.MCM-T .r-content .contactus .content{display:none;position:absolute;top:41px;left:-500px;right:0;padding:0 10px;height:280px;overflow:hidden;background:#fff;border:1px solid #ACACAC;border:1px #ACACAC solid;
                                      -webkit-box-shadow:4px 2px 1px rgba(52,62,62,.2);
                                            -moz-box-shadow:4px 2px 1px rgba(52,62,62,.2);
                                                    box-shadow:4px 2px 1px rgba(52,62,62,.2);}
.MCM-T .r-content .contactus .icon-a:hover .content{display:block;}
.MCM-T .r-content .contactus .content:hover{display:block;}

/*----------MAIN----------*/
.MCM-M{position:relative;z-index:1;top:5px;}
/*---LEFT---*/
.MCM-L{width:160px;height:100%;}
.MCM-L-inshop{height:48px;line-height:48px;color:#666;border-bottom:1px solid #e4e4e4;text-indent:20px;}
.MCM-L-inshop .in{float:left;width:100%;height:48px;line-height:48px;color:#666;background:url(images/inshop-bg.png) repeat-x 0 bottom;}
.MCM-L-inshop .in:hover{background:url(images/inshop-bg-hover.png) repeat-x 0 bottom;color:#de533c;}
.MCM-L-menu{width:100%;}
.MCM-L-menu-ul{padding-top:12px;}
.MCM-L-menu-ul li{margin:15px 0;}
.MCM-L-menu-ul li a{display:block;color:#4c4c4c;padding:0;text-indent:20px;margin-top:1px;font-size:14px;}
.MCM-L-menu-ul .current:hover a,
.MCM-L-menu-ul .current a{color:#de533c; font-weight:bold;border-left:3px solid #de533c;}/*background:#cde2ff;*/
.MCM-L-menu-ul li:hover a{color:#4c4c4c;background:#eee;}/*background:#dcdcdc;*/
.MCM-L-version{position:fixed;bottom:0;width:160px;background:#e3e3e3;border-top:1px solid #dadada;height:30px;line-height:30px;text-indent:20px;}
.MCM-L-version .text{color:#999;}
.MCM-L-version .number{color:#999;font-size:14px;font-weight:bold;}
/*---RIGHT---*/
.MCM-R{height:100%;left:180px;bottom:0;top:0;right:20px;}





/*�ָ���*/
.separationLine{height:15px;border-bottom:1px solid #E9E9E9;margin-top:-4px;}


     
        
/*=====对齐=====*/
.valign-m{vertical-align:middle;}
.align-r{text-align:right; }

/*=====颜色=====*/
.c01{color:#000;}
.c01 a{color:#000;}
.c01 a:hover{color:#0e4283;}
.c01-1{color:#333;}
.c01-1 a{color:#333;}
.c01-1 a:hover{color:#0e4283;}
.c01-2{color:#525456;}
.c01-2 a{color:#525456;}
.c01-2 a:hover{color:#0e4283;}
a.c01-2:hover{color:#0e4283;}
.c01-3  {color:#777;}
.c01-3 a{color:#777;}
.c01-3 a:hover{color:#777;}
a.c01-3:hover{color:#0e4283;}
.c01-4  {color:#666;}
.c01-4 a{color:#666;}
.c01-4 a:hover{color:#666;}
a.c01-4:hover{color:#0e4283;}
.c01-5  {color:#ccc;}
.c01-6  {color:#999;}
.c01-7  {color:#d6d6d6;}
.c03{color:#f00;}
.c03 a{color:#f00;}
.c03 a:hover{color:#f00;}
.c04{color:#ff7200;}
.c04 a{color:#ff7200;}
.c04 a:hover{color:#ff7200;}
.c06{ color:#32a903}/*绿色*/
.c07{color:#1155cc;}
.c07 a{color:#1155cc;}  /*hsw*/
.c07 a:hover{color:#06c;}
a.c07{color:#1155cc;}
a.c07:hover{color:#0853d6;}
.c07-1{color:#0b6aab;}
.c07-1 a{color:#0b6aab;}
.c07-1 a:hover{color:#ff7200;}
.c07-2{color:#083265;}
.c07-2 a{color:#083265;}
.c07-2 a:hover{color:#044ba1;}
.c11{color:#0e4283}
.c12{color:#F00}/*红色字体*/
.c15{color:#555555;}
.c15 a{color:#555555;text-decoration:none;}
.c15 a:hover{color:#555555;}
.c16{color:#fff;}
.c16 a{color:#fff;text-decoration:none;}
.c16 a:hover{color:#fff;}

/*=====宽度=====*/
.w30{width:30px;}
.w45{width:45px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w78{width:78px;}
.w80{width:80px;}
.w85{width:85px;}
.w88{width:88px;}
.w90{width:90px;}
.w92{width:92px;}
.w100{width:100px;}
.w110{width:110px;}
.w130{width:130px;}
.w140{width:140px;}
.w150{width:150px;}
.w190{width:190px;}
.w210{width:210px;}
.w230{width:230px;}
.w240{width:240px;}
.w242{width:242px;}
.w260{width:260px;}
.w270{width:270px;}
.w300{width:300px;}
.w310{width:310px;}
.w340{width:340px;}
.w360{width:360px;}
.w430{width:430px;}
.w460{width:460px;}
.w480{width:480px;}
.w500{width:500px;}
.w530{width:530px;}
.w564{width:564px;}
.w600{width:600px;}
.w640{width:640px;}
.w780{width:780px;}
.w830{width:830px;}
.w950{width:950px;}
.w960{width:960px;}
.wb98{width:98%;}

/*=====定义高度=====*/
.h10,.h15,.h30{font-size:1px;clear:both;}
.h15{height:15px;}
.h10{height:10px;}
.h20{height:20px;}
.h23{height:23px;}
.h25{height:25px;}
.h30{height:30px;}
.h50{height:50px;}
.h70{height:70px;}
.h100{height:100px;}
.h150{height:150px;}
.h200{height:200px;}
.h250{height:250px;}
.h280{height:280px;}
.h320{height:320px;}
.h400{height:400px;}
.h500{height:500px;}
.h560{height:560px;}
.h580{height:580px;}
.hb100{height:100%;}


/*=====定义行高�?====*/
.lh25{line-height:25px;}
.lh30{line-height:30px;}

/*=====缩进=====*/
.l5{margin-left:5px;}
.l10{margin-left:10px;}
.l12{margin-left:12px;}
.l15{margin-left:15px;}
.l24{margin-left:24px;}
.l25{margin-left:25px;}
.l30{margin-left:30px;}
.l37{margin-left:37px;}
.l52{margin-left:52px;}
.l54{margin-left:54px;}
.l60{margin-left:60px;}
.l70{margin-left:70px;}
.l80{margin-left:80px;}
.l105{margin-left:105px;}
.l130{margin-left:130px;}
.l100{margin-left:96px;}
.l170{margin-left:170px;}
.r5{margin-right:5px;}
.r10{margin-right:10px;}
.r15{margin-right:15px;}
.r25{margin-right:25px;}
.r30{margin-right:30px;}
.t2{margin-top:2px;}
.t5{margin-top:5px;}
.t6{margin-top:6px;}
.t7{margin-top:7px;}
.t10{margin-top:10px;}
.t11{margin-top:11px;}
.t15{margin-top:15px;}
.t20{margin-top:20px;}

 
.b3{ margin-bottom:3px;}
.b5{ margin-bottom:5px;}
.b10{ margin-bottom:10px;}
.b20{ margin-bottom:20px;}
.mb{ margin-bottom:10px;}

/*=====定义边距=====*/
.pd10{ padding:10px}
.pd15{ padding:15px}
.pd-55{ padding-left:55px}
.pd-l86{ padding-left:86px;}
.pd-r20{ padding-right:20px;}

/*=====盒子=====*/
.box01{ background:#fff;border:1px solid #ddd;}/*有边框背�?/
.box02{ background:#F7F7F7;border:1px solid #ddd;}/*有边框背�?/
.border01{border:1px solid #c6ced7;}

/*=====文字大小=====*/
.fs10{font-size:10px;}
.fs12{font-size:12px;}
.fs14{font-size:14px;}
.fs16{font-size:16px;}
.fs25{font-size:25px;}

/*=====文字加粗=====*/
.fb{font-weight:bold;}

/*=====float=====*/
.float-l{float:left;}
.float-r{float:right;}
.clear{clear:both;}

/*居中*/
.tal{text-align:left;}
.tac{text-align:center;}
.tar{text-align:right;}

/*=====空白盒子=====*/
.hr5,.hr10,.hr15,.hr20,.hr25,.hr30,.hr40{font-size:1px;}
.hr5{height:5px;}
.hr10{height:10px;}
.hr15{height:15px;}
.hr20{height:20px;}
.hr23{height:23px;}
.hr25{height:25px;}
.hr30{height:30px;}
.hr40{height:40px;}
.hr50{height:50px;}

.hr5Line{border-bottom: 1px solid #E9E9E9;height:5px;}
/*=====ICO图标=====*/
.ico01,.ico01-1,.ico01-2,.ico02,.ico02-1,.ico02-2,.ico03,.ico03-1,.ico03-2,.ico04,.ico04-1,.ico05,.ico05-1,.ico06-1,.ico07-1,.ico07-2,.ico06,.ico07,.ico11,.ico12,.ico13,.ico14,.ico15,.ico16,.ico17,.ico18,.ico19,.ico20,.ico50{float:left;width:20px;height:20px;background:url(../images/mcm-icon.png) no-repeat;margin-top:3px;}
.ico14,.ico15{width:10px;}
.ico01{background-position:-5px -10px;}/*添加*/
.ico01-1{background-position:-38px -10px;}/*添加*/
.ico01-2{background-position:-65px -11px;}/*打印*/
.ico02{background-position:-5px -49px;}/*删除*/
.ico02-1{background-position:-38px -49px;}/*图片*/
.ico02-2{background-position:-65px -49px;}/*联系*/
.ico03{background-position:-5px -88px;}/*创建*/
.ico03-1{background-position:-38px -88px;}/*添加图片*/
.ico03-2{background-position:-65px -88px;}/*添加附件*/
.ico04{background-position:-5px -126px;}/*编辑*/
.ico04-1{background-position:-38px -126px;}
.ico05{background-position:-5px -166px;}/*设置*/
.ico05-1{background-position:-35px -166px;}/*设置*/
.ico06{background-position:-5px -204px;}/**/
.ico06-1{background-position:-38px -244px;}/**/
.ico07{background-position:-5px -204px;}/**/
.ico07-1{background-position:-38px -244px;}/*导出*/
.ico07-2{background-position:-38px -204px;}/*导入*/
.ico11{background-position:-40px -405px;}/**/
.ico12{background-position:-1px -833px;}/*地图*/
.ico13{background-position:-33px -832px;}/*排序*/
.ico14{background-position:-6px -868px;}/*展开*/
.ico15{background-position:-41px -868px;}/*收缩*/
.ico16{background-position:-3px -891px;}
.ico17{background-position:-39px -891px;}
.ico18{background-position:-70px -626px;width:10px;}/*灰色向下小箭�?*/
.ico19{background-position:-70px -657px;width:10px;}/*灰色向上小箭�?*/
.ico20{background-position:-8px -407px; width:13px;height:6px;position:relative;top:4px;left:50%;margin-left:-10px}/*蓝色向上箭头    FZedit*/
.ico50
{ background-position: -8px -407px;height: 6px;left: 50%;position:relative;margin-left:-360px;top: 15px;width: 13px;}/*蓝色向上箭头    FZedit*/
.icon01,.icon02,.icon03,.icon04,.icon04-1,.icon05,.icon06,.icon07,.icon08,.icon09,.icon10,.icon13,.icon15,.icon16,.icon17,.icon18,.icon19,.icon20,.icon22,.icon23,.icon24,.icon25,.icon26{ background:url(/images/mcm-icon-new.png) no-repeat;width:20px;height:20px;display:block;float:left;cursor:pointer;}
.icon01{background-position:-17px -8px;}/*向上蓝色箭头*/
.icon02{background-position:-63px -8px;}/*向下蓝色箭头*/
.icon03{background-position:-114px -8px;}/*删除*/
.icon04{background-position:-168px -8px;}/*编辑*/
.icon04-1{background-position:-168px -10px;}/*编辑单独使用*/
.icon05{background-position:-348px -13px;width:10px;height:10px;}/*删除小图*/
.icon06{background-position:-400px -12px;height:10px;}/*链接小图*/
.icon05:hover{background-position:-228px -13px;width:10px;height:10px;}/*删除小图*/
.icon06:hover{background-position:-280px -12px;height:10px;}/*链接小图*/
.icon07{background-position:-15px -52px;}/*小闹�?*/
.icon08{background-position:-282px -82px;width:58px;text-indent:20px;color:#666;}/*刷新*/
.icon08:hover{background-position:-341px -82px;color:#333;}
.icon09{background-position:-18px -125px;}/*灯泡*/
.icon10{background-position:-65px -123px;}/*计算�?*/
.icon13{background-position:-106px -124px;width:35px;height:20px;display:block;clear:both;}/*黑白编辑*/
.icon15{background-position:-164px -124px;width:35px;height:20px;display:block;clear:both;}/*黑白卸载*/
.icon16{background-position:-320px -126px;width:56px;height:21px;display:block;clear:both;}/*已购买箭�?*/
.icon17{background-position:-440px -126px;width:56px;height:21px;display:block;clear:both;}/*未购买箭�?*/
.icon19{background-position:-272px -123px;width:35px;height:20px;display:block;clear:both;}/*进入箭头*/
.icon18{background-position:-14px -167px;}/*红色感叹号提�?*/
.icon20{background-position:-14px -239px;}/*地球*/
.icon22{background-position:-225px -202px;}
.icon23{background-position:-225px -243px;}
.icon24{background-position:-225px -285px;}
.icon25{background-position:-225px -328px;}
.icon26{background-position:-14px -279px;}
.icon-resize{width:4px;float:right;cursor:e-resize;}
.icon-resize:hover{background:;}
.icon-loading{width:32px;height:32px;background:url(../images/loading1.gif) no-repeat;float:left;}
/*=====无图�?====*/
.nopic01{background:url(../images/icon-nopic.png) no-repeat center center;}

/*=====头部=====*/

.logobar{width:224px;height:65px;position:absolute;top:5px;left:0;overflow:hidden;}
.logobar a{display:block;height:65px;}
.version{position:absolute;top:5px;left:180px;}
.version-icon{background:url(/images/mcm-main.png) no-repeat;width:44px;height:15px;line-height:15px;color:#fff;float:left;cursor:pointer;}
.version-icon{ background-position:0 -349px;text-indent:10px;}




/*.shopselect1{background:#1a8dff;}
.shopselect2{ background-image:url('images/blue.png');}
.shopselect3{ background-image:url('images/white.png');cursor:pointer;}
.shopselect4{ background-image:url('images/gray.png');cursor:pointer;}*/


/*=====底部状态栏=====*/
.status-bar{height:31px;background:url(../images/mcm.png) left -1143px;}
.status-bar ul{margin:0 0 0 10px;}
.status-bar li{float:left;position:relative;cursor:pointer;margin-right:1px;background:url(../images/mcm.png) left -777px;height:30px;line-height:30px;}
.status-bar li q{float:left;background:url(../images/mcm.png) right -807px;padding:0 18px 0 5px;height:30px;line-height:30px;}
.status-bar li:hover{background:url(../images/mcm.png) left -897px;}
.status-bar li:hover q{background:url(../images/mcm.png) right -927px;}
.status-bar .current,.status-bar .current:hover{background:url(../images/mcm.png) left -837px;}
.status-bar .current q,.status-bar .current:hover q{background:url(../images/mcm.png) right -867px;}
.status-bar span.close{float:right;position:absolute;right:1px;top:7px;background:url(../images/mcm.png) -141px -612px;line-height:14px;width:14px;height:14px;margin-right:1px;}
.status-bar .current .close{background:url(../images/mcm.png) -162px -612px;}
.status-bar span.close:hover{background:url(../images/mcm.png) -184px -612px;}

/*=====按钮=====*/
.Btn-submit,.Btn-submit-disabled,.Btn-reset,.Btn-submit02,.Btn-submit02-disabled,.Btn-reset02,.Btn-submit04,.Btn-submit04-disabled,.Btn-reset04,.Btn-submit06,.Btn-submit06-disabled,.Btn-submit08{height:26px;margin:5px 0;border:0;background:url(/images/mcm-main.png) no-repeat;font-size:12p;text-align:center;cursor:pointer;font-weight:bold;}
.Btn-submit:hover,.Btn-reset:hover,.Btn-submit02:hover,.Btn-reset02:hover,.Btn-submit04:hover,.Btn-submit06:hover,.Btn-reset04:hover{background:url(/images/mcm-main.png) no-repeat;}
.Btn-submit{background-position:-407px 0;color:#fff;width:70px;}
.Btn-submit-disabled{background-position:-94px -406px;color:#ababab;width:70px;cursor:default;}
.Btn-reset {background-position:-477px 0;color:#333;width:70px;}
.Btn-submit:hover{background-position:-407px -26px;color:#fff;text-decoration:none;width:70px;}
.Btn-reset:hover {background-position:-477px -26px;color:#333;text-decoration:none;width:70px;}
.Btn-submit02{background-position:-407px 0;color:#fff;width:70px;}
.Btn-submit02-disabled{background-position:-94px -406px;color:#ababab;width:70px;cursor:default;}
.Btn-reset02 {background-position:-477px 0;color:#333;width:70px;}
.Btn-submit02:hover{background-position:-407px -26px;color:#fff;text-decoration:none;width:70px;}
.Btn-reset02:hover {background-position:-477px -26px;color:#333;text-decoration:none;width:70px;}
.Btn-submit04{background-position:-407px -180px;color:#fff;width:100px;}
.Btn-submit04-disabled{background-position:-244px -406px;color:#ababab;width:100px;cursor:default;}
.Btn-reset04 {background-position:-507px -180px;color:#333;width:86px;}
.Btn-submit04:hover{background-position:-407px -206px;color:#fff;text-decoration:none;width:100px;}
.Btn-reset04:hover {background-position:-507px -206px;color:#333;text-decoration:none;width:86px;}
.Btn-submit06{background-position:-0px -537px;color:#fff;width:130px;}
.Btn-submit06-disabled{background-position:-94px -436px;color:#ababab;width:130px;cursor:default;}
.Btn-submit06:hover{background-position:-0px -563px;color:#fff;text-decoration:none;width:130px;}
.Btn-submit08{background-position:-143px -593px;color:#fff;width:155px;}
.Btn-submit08:hover{background-position:-143px -619px;color:#fff;text-decoration:none;width:155px;}
.Btn{text-align:center;}
/*按钮禁用样式*/
.disabled{background:#eee;border:1px solid #e8e8e8;color:#bebebe;padding:2px 15px;font-size:14px;vertical-align:middle;height:30px;min-width:100px;letter-spacing:5px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;min-width:100px;}

/*=====内框Body=====*/
.MCM-C-M{min-width:450px;position:relative;margin:5px 15px 0 0;overflow:hidden;}
.MCM-C-M table{table-layout:fixed;}
.MCM-C-M tr.thover{background:#f0f6fe;}
.MCM-C-M tr.tselect{ background:#FFFFCC;}
.MCM-C-M td .lock{ color:#ff5a00}
.MCM-C-M h2{font-size:20px;font-family:微软雅黑,arial,宋体;}
.MCM-C-M h2 span{font-size:12px;color:#555;}
.Nav-btn-bg{width:100%;line-height:35px;height:35px;background:#ededed;border-top:1px #c4c4c4 solid;}
.Nav-btn-bg .Btn{float:left;margin:5px 0 10px 5px;}
.Nav-btn-bg .Btn1{float:left;margin:5px 0 0 10px;border-left:1px #adadad dotted;padding-left:5px;}
.Nav-btn-bg .Btn li,.Nav-btn-bg .Btn1 li{float:left;position:relative;z-index:90;}
.Image-Btn{margin:0 0 0 5px;}
.MCM-C-M .Cate-Btn{clear:both;}
.MCM-C-M .Cate-Btn .Btn-Close,.MCM-C-M .Cate-Btn .Btn-Open{display:inline-block;width:191px;height:31px;background:url(/images/mcm-main.png);text-align:center;font-size:14px;font-weight:bold;cursor:pointer;}
.MCM-C-M .Cate-Btn .Btn-Close{background-position:-547px -31px;color:#999;}
.MCM-C-M .Cate-Btn .Btn-Open{background-position:-547px 0px;color:#fff;}
.MCM-C-M .Cate-Btn button,.Cate-Btn input{border:0;}
.MCM-C-M .Icon-btn{position:absolute;right:15px;top:0;font-size:14px;cursor:pointer;}
.MCM-C-M .current-so,.MCM-C-M .current-so a{float:left;height:35px;line-height:35px;width:70px;text-align:center;background:#f5f5f5;color:#333;border-left:1px #ccc solid;}
.MCM-C-M .current-so a{border-left:1px #fff solid;}
.MCM-C-M .All-arrow{ background:url(/images/mcm-icon.png) no-repeat -70px -750px;width:12px;height:30px;margin-left:9px;float:left;cursor:pointer;}
.MCM-C-M .show-l{padding:1px 0;float:left;}
/*.MCM-C-M .current a{background:url(/images/mcm-icon.png) no-repeat right -516px #fff;}*/
.MCM-C-M .Arrow-up,.Arrow-down{cursor:pointer;background:url(/images/mcm-icon.png) no-repeat;}
.MCM-C-M .Arrow-up{background-position:right -650px;}
.MCM-C-M .Arrow-down{background-position:right -620px;}

/*=====旗帜=====*/
.flag-gray,.flag-red{background:url(/images/mcm-icon.png) no-repeat;margin-left:5px;height:16px;width:16px;margin:5px 0 0 5px;cursor:pointer;}
.flag-gray{ background-position:-5px -787px;}
.flag-red{ background-position:-33px -787px;}
/*.MCM-N-L td span{ float:left;}*/
.MCM-N-L td.red{ color:#ff0000;}
.MCM-N-L td.red a{ color:#ff0000;}
.MCM-N-L td.red a:hover{ color:#ff0000;}

/*=====标记颜色=====*/
td span.mark-btn {float: right;margin-right:v5px;}
.mark-size,.mark-edit .seleCor{ width:16px;height:16px;display:block;}
.mark-btn a,.mark-btn a:hover,.mark-edit .seleCor{background:url(/images/mcm-icon.png) no-repeat;}
.mark-btn,.mark-btn a,.mark-btn a:hover{float:right;margin:1px;width:16px;height:16px;overflow:hidden;text-indent:1000px;cursor:pointer;}
.mark-btn a{background-position:-2px -985px;white-space: nowrap;}
.mark-btn a:hover{background-position:-42px -985px;}
.mark-edit{background:#fff url(/images/mark-edit.png) repeat-x;width:auto;height:auto;border:1px solid #2698df; position:absolute;z-index:999;box-shadow:4px 2px 1px rgba(52, 62, 62, .2);-moz-box-shadow:4px 2px 1px rgba(52, 62, 62, .2);-webkit-box-shadow:4px 2px 1px rgba(52, 62, 62, .2);-khtml-box-shadow:4px 2px 1px rgba(52, 62, 62, .2);}
.mark-edit .grayline li{background:#999;height:1px;position:absolute;right:6px;left:6px;}
.mark-edit .marklist{ margin:0 6px 10px 6px;padding:0;list-style:none;}
.mark-edit .marklist li{ margin:0;padding:0;white-space:nowrap;margin:5px 0;height:20px;}
.mark-edit .marklist li span{ float:left;margin:3px;}
.mark-opear{ margin:20px 0 0 0;padding:0}
.mark-opear li{ margin:3px;padding:0;height:20px;}
.mark-opear li span{ cursor:pointer;margin:0 0 0 20px;padding:0;}

/*=====展开 新窗�?图标=====*/
.Show-btn,.Newwindow{background:url(/images/mcm-icon.png) no-repeat;margin:1px;width:16px;height:16px;cursor:pointer;}
.Show-btn{background-position:-4px -983px;}
.Newwindow{background-position:-21px -983px;}

/*=====选择旗杆=====*/
.sel-flag{width:100px;position:absolute;z-index:100;border:1px;display:block;background:#fff;border:1px #acacac solid;padding:0;padding:5px 0;-moz-box-shadow:0 0 5px rgba(201, 201, 201, .9);-webkit-box-shadow:0 0 5px rgba(201, 201, 201, .9);box-shadow:0 0 5px rgba(201, 201, 201, .9);background:#fff;top:28px;left:5px;}
.sel-flag li{ margin:0;line-height:23px;}
.sel-flag li a{float:left;width:100%;font-weight:normal;color:#333;text-indent:8px;}
.sel-flag li a:hover{background:#f0f0f0;}

/*=====ICON=====*/
.Iocn-arrow-hover{background:url(/images/mcm-icon.png) no-repeat right -482px;padding-right:15px;color:#0e4283;font-weight:bold;margin:1px 0;}
a.Iocn-arrow-hover{color:#0e4283;}

/*=====标签样式=====*/
.label01,.label01-current{ width:auto;padding:0 8px;height:20px;display:block;float:left;line-height:20px;cursor:pointer;text-align:center;margin-left:3px;
box-shadow:1px 1px #c7cfd8;/*投影*/
-webkit-box-shadow:1px 1px #c7cfd8;/*兼容Safari和Chrome浏览器投�?/
-khtml-box-shadow:1px 1px #c7cfd8;/*兼容Konqueror浏览器投�?/
-moz-box-shadow:1px 1px #c7cfd8;/*兼容firefox浏览器投�?/
}
.label01{background:#e1e7ec;}
.label01:hover{background:#f5f5f5;}
.label01-current{ background:#2698df;color:#FFF;}
.tr-current{background:#e5effd;}
.tr-current td div{white-space:nowrap;}

/*=====无数据icon=====*/
.no-data-icon{position:fixed;height:200px;left:40%;top:30%;margin:height/2 0 0 width/2;font:16px 微软雅黑;text-align:center;} 
.no-data-icon p > img{vertical-align:middle;}
.no-data-icon i{background:url(/images/big-icon.png) no-repeat;display:block;width:170px;height:170px;}
.no-data-icon .icon-1{background-position:0 0;}
.no-data-icon .icon-2{background-position:-170px 0;}
.no-data-icon .icon-3{background-position:-340px 0;}
.no-data-icon .icon-4{background-position:-510px 0;}
.no-data-icon .icon-5{background-position:0 -170px;}
.no-data-icon .icon-6{background-position:-170px -170px;}
.no-data-icon .icon-7{background-position:-340px -170px;}
.no-data-icon .icon-8{background-position:-510px -170px;}

/*===缺货商品 库存报警===*/
.color-block{position:absolute;top:35px;right:20px;z-index:13;}
.color-block ul li{float:left;background-image:none;margin-right:10px;background-position:none;}
.color-block ul li span{display:inline-block;height:20px;line-height:20px;vertical-align:middle;color:#666;}
.color-block ul li span.lack-color,.color-block ul li span.stock-color{width:15px;height:15px;display:inline-block;margin-right:5px;}
.color-block ul li span.lack-color{background:red;}
.color-block ul li span.stock-color{background:#f0a400;}
.MCM-C-M tr.tr-lack a,.MCM-C-M tr.tr-stock a{font-weight:normal;}
.MCM-C-M tr.tr-lack{color:red;font-weight:bold;}
.MCM-C-M tr.tr-stock{color:#f0a400;font-weight:bold;}


