@charset "utf-8";

/*=====兼容包=====*/
.float-l{float:left;}
.v5-table02 th{padding:5px 0 5px 4px;}
.Search .UL-style li{margin-right:5px;}
.table-th th{text-align:center;}
.v5-table05 td span{float:none;}

